@{
    ViewData["Title"] = "Books";

}

@model BooksViewModel

<div class="text-center">
    <h1 class="display-4">Bookstore</h1>
</div>

<div class="text-left">
    @foreach (Book b in Model.Books)
    {
        <h3>@b.Title</h3>

        <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.Isbn</li>
            <li>Classification: @b.Classification</li>
            <li>Category: @b.Category</li>
            <li>Number of Pages: @b.PageCount</li>
            <li>Price: @b.Price</li>
        </ul>

        <br />
    }
</div>

<div page-blah="@Model.PageInfo" page-action="Index"></div>

@*<h1 class="text-center">Bookstore</h1>*@

@*@foreach (Book b in Model.Books)
    {
        <h3>@b.Title</h3>

        <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.Isbn</li>
            <li>Classification: @b.Classification</li>
            <li>Category: @b.Category</li>
            <li>Number of Pages: @b.PageCount</li>
            <li>Price: @b.Price</li>
        </ul>

        <br />
    }*@
